<md-toolbar>
  <div class="md-toolbar-tools">
    <a ui-sref="dealer">
      <div class="logo">
        <h2><span class="fc-white">Hotwax Commerce</span></h2>
      </div>
    </a>
  </div>
</md-toolbar>
<div style="width:40%; margin:7% auto; border:1px solid #00796B;" ng-controller="LoginController">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    Login Here 
                    <span flex></span>
                    <md-button>Register Here!</md-button>
                </div>
            </md-toolbar>
            <md-content>
                <md-input-container>
                    <label>Email-Address*</label>
                    <input type="text" name="EmailId" ng-model="credentials.username"/>
                </md-input-container>
                <md-input-container>
                    <label>Password*</label>
                    <input type="password" name="Password" ng-model="credentials.password"/>
                </md-input-container>
                
                <md-input-container>
                    <label>Tenant Id</label>
                    <input type="text" name="TenantId"/>
                </md-input-container>
            
                <div layout="row">
                    <md-button ng-click="login()" class="md-primary">
                    Forget Password
                    </md-button>
                    <div flex></div>
                    <md-button ng-click="login()" class="md-primary md-raised">
                    Login
                    </md-button>
                </div>
            </md-content>
</div>