<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<a href="#promotion"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Promotion
	</md-button>
	<a href="#createPromotion"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Promotion
        </md-button></a>
	<a href="#sale"><md-button class="btn-tile fg-white bg-color md-raised" >
		Sale
        </md-button></a>
	<a href="#createSale"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Sale
        </md-button></a>
	<a href="#featureBuilder"><md-button class="btn-tile fg-white bg-color md-raised" >
		Feature Builder
        </md-button></a>
	<a href="#features"><md-button class="btn-tile fg-white bg-color md-raised" >
		Features
        </md-button></a>
</section>