<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Phone</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>    
        </md-toolbar>
        <md-dialog-content>
             <md-input-container>
                <label>Shipping Phone</label>
                 <input type="text">
            </md-input-container>
            
             <md-input-container>
              <label>Billing Phone</label>
              <input type="text">
            </md-input-container>
            
            <md-button class="md-primary md-raised">
                Add
            </md-button>
        </md-dialog-content>
    </form>
</md-dialog>