<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
            Add User Login
            </div>    
        </md-toolbar>
        <md-dialog-content>
             <md-input-container>
                <label>Email Address*</label>
                 <input type="text">
            </md-input-container>
            
             <md-input-container>
              <label>Password*</label>
              <input type="password">
            </md-input-container>
            
            <md-input-container>
              <label>Confirm Password*</label>
              <input type="password">
            </md-input-container>
            
            <md-button class="md-primary md-raised">
                Add
            </md-button>
        </md-dialog-content>
    </form>
</md-dialog>