<style>
	.sidenav-custom{
		width:50px !important;
		overflow-x: hidden;
	}
    .sidenav-custom:hover{
		width:225px !important;
		overflow-x: hidden;
	}


</style>

<md-input-container class="md-icon-float" >
<input ng-model="searchCustomer" placeholder="Search here by Name/Phone/Email/" type="text" ng-required="true">
</md-input-container>
<div class="container">
	<table id="table" class="md-table">
		<thead>
			<tr class="md-table-headers-row">
				<th class="th-name" >Name</th>
				<th class="th-phone">Phone</th>
				<th class="th-email">Email</th>
			</tr>	
		</thead>
		<tbody ng-controller="customerCtrl as customerCtr">
			<tr ng-repeat="customer in dataReceived | filter:searchCustomer | orderBy:'-partyId'" class="md-table-content-row">
				<td class="td-name fc-blue"><a href="#profile">{{customer.firstName}} {{customer.lastName}}</a></td>
				<td class="td-phone">{{customer.partyId}}</td>
				<td class="td-email">{{customer.emailAddress}}</td>
			</tr>
		</tbody>
	</table>
</div>
