<div ng-controller="createProductCtrl" ng-submit="create()" layout="column">
<form>
	<md-content layout-padding class="autoScroll">
		<md-input-container class="md-icon-float" >
			<label>ProductID*</label>
			<md-icon md-svg-src="img/icons/ic_chrome_reader_mode_black_24px.svg"></md-icon>
			<input ng-model="productId" type="text" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float" >
			<label>Product Name*</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
			<input ng-model="productName" type="text" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float" >
			<label>Price*</label>
			<md-icon md-svg-src="img/icons/ic_attach_money_black_24px.svg"></md-icon>
			<input ng-model="price" type="text" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float" >
			<label>Universal Product Code*</label>
			<md-icon md-svg-src="img/icons/ic_gradient_black_24px.svg"></md-icon>
			<input ng-model="productCode" type="tex" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float" >
			<label>Weight*</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
			<input ng-model="weight" type="text" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float" >
			<label>Primary Category*</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
			<input ng-model="primaryCategory" type="text" ng-required="true">
		</md-input-container>
        <div layout="row" layout-wra><div flex="90"></div>
		<md-button ng-click="createProduct()" class="md-raised md-primary" type="submit">Submit</md-button>
        </div>
        <div>
            <h1>{{dataReceived}}</h1>
        </div>
  </md-content>
</form>
 </div>