<form>
	<md-tabs md-dynamic-height md-border-bottom>
  		<md-tab label="Sales Channel">
  		sdhashsahaskjscfhsakjhaskjadshjashdasjdhadhakjdhakjdhakjhaskjhdjassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
  		</md-tab>
  		<md-tab label="Category">
  		sdhashsahaskjscfhsakjhaskjadshjashdasjdhadhakjdhakjdhakjhaskjhdjassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
  		</md-tab>
  		<md-tab label="Price">
  		sdhashsahaskjscfhsakjhaskjadshjashdasjdhadhakjdhakjdhakjhaskjhdjassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
  		</md-tab>
  		<md-tab label="Feature"></md-tab>
	</md-tabs>
</form>