	<md-content layout-padding class="autoScroll">
		<md-input-container class="md-icon-float" >
			<!-- Use floating label instead of placeholder -->
			<label>Name</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="firstname"></md-icon>
			<input ng-model="firstname" type="text" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float" >
			<!-- Use floating label instead of placeholder -->
			<label>Phone</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="lastname"></md-icon>
			<input ng-model="lastname" type="text" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float" >
			<!-- Use floating label instead of placeholder -->
			<label>Website</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="lastname"></md-icon>
			<input ng-model="lastname" type="text" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float" >
			<!-- Use floating placeholder instead of label -->
            <label>Primary Email</label>
			<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
			<input ng-model="email" type="email" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float">
			<!-- Use floating placeholder instead of label -->
            <label>Partner Logo(5mb Max)</label>
			<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
			<input ng-model="email" type="text" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float" >
			<!-- Use floating label instead of placeholder -->
			<label>Attention Name</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="firstname"></md-icon>
			<input ng-model="firstname" type="text" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float" >
			<!-- Use floating label instead of placeholder -->
			<label>Address 1</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="lastname"></md-icon>
			<input ng-model="lastname" type="text" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float" >
			<!-- Use floating label instead of placeholder -->
			<label>Country</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="lastname"></md-icon>
			<input ng-model="lastname" type="text" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float" >
			<!-- Use floating placeholder instead of label -->
            <label>City</label>
			<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
			<input ng-model="email" type="text" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float">
			<!-- Use floating placeholder instead of label -->
            <label>Billing Account Limit</label>
			<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
			<input ng-model="email" type="text" ng-required="true">
		</md-input-container>