<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<a href="#incomeStatement"><md-button class="btn-tile fg-white bg-color md-raised" >
		Income Statement
        </md-button></a>
	<a href="#trialBalance"><md-button class="btn-tile fg-white bg-color md-raised" >
		Trial Balance
        </md-button></a>
	<a href="grossMargin"><md-button class="btn-tile fg-white bg-color md-raised" >
		Gross Margin
        </md-button></a>
	<a href="#inventoryValuation"><md-button class="btn-tile fg-white bg-color md-raised" >
		Inventory Valuation
        </md-button></a>
</section>