<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<a href="#product"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Product
        </md-button></a>
	<a href="#createProduct"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Product
        </md-button></a>
	<a href="#categoryBuilder"><md-button class="btn-tile fg-white bg-color md-raised" >
		Category Builder
        </md-button></a>
	<a href="#categories"><md-button class="btn-tile fg-white bg-color md-raised" >
		Categories
        </md-button></a>
	<a href="#createCategory"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Category
        </md-button></a>
	<a href="#importCategories"><md-button class="btn-tile fg-white bg-color md-raised" >
		Import Categories
        </md-button></a>
	<a href="#exportCategories"><md-button class="btn-tile fg-white bg-color md-raised" >
		Export Categories
        </md-button></a>
	<a href="#importStandardProduct"><md-button class="btn-tile fg-white bg-color md-raised" >
		Import Standard Product
        </md-button></a>
	<a href="#exportStandardProduct"><md-button class="btn-tile fg-white bg-color md-raised" >
		Export Standard Product
        </md-button></a>
	<a href="#importProductWithVariants"><md-button class="btn-tile fg-white bg-color md-raised" >
		Import Product with Variants
        </md-button></a>
	<a href="#exportProductWithVariants"><md-button class="btn-tile fg-white bg-color md-raised" >
		Export Product With Variants
        </md-button></a>
    <a href="#importCategoryContents"><md-button class="btn-tile fg-white bg-color md-raised" >
		Import Category contents
        </md-button></a>
	<a href="#exportCategoryContents"><md-button class="btn-tile fg-white bg-color md-raised" >
		Export Category Contents
        </md-button></a>
	<a href="#exportProductTextContents"><md-button class="btn-tile fg-white bg-color md-raised" >
		Export Product Text Contents
        </md-button></a>
	<a href="#importContentMetaData"><md-button class="btn-tile fg-white bg-color md-raised" >
		Import Product Text Contents
        </md-button></a>
	<a href="#importContentMetaData"><md-button class="btn-tile fg-white bg-color md-raised" >
		Import Content Meta Data
        </md-button></a>
    <a href="#reviews"><md-button class="btn-tile fg-white bg-color md-raised" >
		Reviews
        </md-button></a>
    <a href="#bulkSupplierUpload"><md-button class="btn-tile fg-white bg-color md-raised" >
		Bulk Supplier Upload
        </md-button></a>
</section>