<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<a href="#supplier"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Supplier
        </md-button></a>
	<a href="#createSupplier"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Supplier
        </md-button></a>
	<a href="#purchaseOrders"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Purchase Orders
        </md-button></a>
	<a href="#createPurchaseOrder"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Create Purchase Order
        </md-button></a>
	<a href="#requirements"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Reqirements
        </md-button></a>
</section>