<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<a href="#businessOverview"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Business Overview
        </md-button></a>
	<a href="#supplierProduct"><md-button class="btn-tile fg-white bg-color md-raised" >
		Supplier Product
        </md-button></a>
	<a href="#salesAnalytics"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Sales Analytics
        </md-button></a>
	<a href="#lifetimeValue"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Lifetime Value
        </md-button></a>
	<a href="#productPerformanceOverview"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Product Performance Overview
        </md-button></a>
	<a href="#serviceLevel"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Service Level
        </md-button></a>
	<a href="#marketBasketAnalysis"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Market Basket Analysis
        </md-button></a>
	<a href="#poPipeline"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		PO Pipeline
        </md-button></a>
</section>