<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<a href="#picklist"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Picklist
        </md-button></a>
	<a href="#createPicklist"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Picklist
        </md-button></a>
	<a href="#receiving"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Receiving
        </md-button></a>
	<a href="#shipments"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Shipments
        </md-button></a>
	<a href="#createShipments"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Create Shipments
        </md-button></a>
	<a href="#inventoryCount"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Inventory Count
        </md-button></a>
	<a href="#moveStock"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Move Stock
        </md-button></a>
</section>