<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<a href="#payment"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Payment
        </md-button></a>
	<a href="#createPayment"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Payment
        </md-button></a>
	<a href="invoice"><md-button class="btn-tile fg-white bg-color md-raised" >
		Invoice
        </md-button></a>
	<a href="accountingTransactions"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Accounting Transactions
        </md-button></a>
	<a href="accountingTransactionEntries"><md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Accounting Transaction Entries 
        </md-button></a>
</section>