
<div  ng-show="tab === 'dealer'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<a href="#dealers"><md-button class="btn-tile fg-white bg-color md-raised" >
		Dealers
	</md-button></a>
	<a href="#createdealer"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Dealer
	</md-button></a>
	</section>
</div>
<div ng-show="tab === 'customerservice'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">
	<a href="#customer"><md-button class="btn-tile  md-raised fg-white bg-color" >
		customer
	</md-button></a>
	<a href="#createcustomer"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Customer
	</md-button></a>
	<md-button class=" btn-tile btn-tile fg-white bg-color md-raised" >
		Calender
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Parties
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Event
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Order
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Order
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Returns
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Return
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Quotes
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Quote
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Import Party
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Export Party Profile
	</md-button>
	</section>
</div>
<div ng-show="tab === 'merchandise'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Promotion
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Promotion
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Sale
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Sale
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Feature Builder
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Features
	</md-button>
	</section>
</div>
<div ng-show="tab === 'pim'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Product
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Product
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Category Builder
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Categories
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Category
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Import Categories
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Export Categories
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Import Standard Product
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Export Standard Product
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Import Product with Variants
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Export Product With Variants
	</md-button><md-button class="btn-tile fg-white bg-color md-raised" >
		Import Category contents
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Export Category Contents
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Export Product Text Contents
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Import Product Text Contents
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Import Content Meta Data
	</md-button><md-button class="btn-tile fg-white bg-color md-raised" >
		Reviews
	</md-button><md-button class="btn-tile fg-white bg-color md-raised" >
		Bulk Supplier Upload
	</md-button>
	</section>
</div>
<div ng-show="tab === 'procurement'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Supplier
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Supplier
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Purchase Orders
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Create Purchase Order
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Reqirements
	</md-button>
	</section>
</div>
<div ng-show="tab === 'cms'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Webpages
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Email
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Templates
	</md-button>
	</section>
</div>
<div ng-show="tab === 'warehouse'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Picklist
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Picklist
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Receiving
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Shipments
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Create Shipments
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Inventory Count
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Move Stock
	</md-button>
	</section>
</div>
<div ng-show="tab === 'ar'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Payment
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create Payment
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Invoice
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Accounting Transactions
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Accounting Transaction Entries 
	</md-button>
	</section>
</div>
<div ng-show="tab === 'financialreport'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Income Statement
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Trial Balance
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Gross Margin
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Inventory Valuation
	</md-button>
	</section>
</div>
<div ng-show="tab === 'admin'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		User
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Create User
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Store Setup
	</md-button>
	</section>
</div>
<div ng-show="tab === 'report'">
<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">

	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Business Overview
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised" >
		Supplier Product
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Sales Analytics
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Lifetime Value
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Product Performance Overview
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Service Level
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		Market Basket Analysis
	</md-button>
	<md-button class="btn-tile fg-white bg-color md-raised cu-tile" >
		PO Pipeline
	</md-button>
	</section>
</div>
