<div layout="row">
    <div flex="20">
        <div class="container">
            <table>
                <thead>
                    <th>Meetings</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <md-checkbox>
                                fndj
                            </md-checkbox>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <md-checkbox>
                                fndj
                            </md-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<div flex="80">
<div layout="row">
    <md-button>Previous</md-button>
    <md-button>Today</md-button>
    <md-button>Next</md-button>
    <div flex></div>
    <md-button>Month</md-button>
    <md-button>Week</md-button>
    <md-button>Day</md-button>
</div>
<div layout="row" layout-align="center">
    Month Year
</div>
<div class="container">
	<table id="table" class="md-table" style="border:1px solid #007982">
		<thead>
			<tr class="md-table-headers-row">
				<th class="th-name" >Sunday</th>
				<th class="th-phone">Monday</th>
				<th class="th-email">Tuesday</th>
                <th class="th-phone">Wednesday</th>
				<th class="th-email">Thursday</th>
                <th class="th-phone">Friday</th>
				<th class="th-email">Saturday</th>
			</tr>	
		</thead>
		<tbody ng-controller="customerCtrl as customerCtr">
			<tr height="80">
				<td>1</td>
				<td>2</td>
				<td>3</td>
                <td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
            </tr>
            <tr height="80">
				<td>8</td>
				<td>9</td>
				<td>10</td>
                <td>11</td>
				<td>12</td>
				<td>13</td>
				<td>14</td
            </tr>
		</tbody>
	</table>
    </div>
</div>