<section class="right-panel" layout="row" layout-sm="column" layout-align="left left" layout-wrap="">
	<a ui-sref="all_Customers"><md-button class="btn-tile  md-raised fg-white bg-color" >
		customer
	</md-button></a>
	<a ui-sref="createCustomer"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Customer
	</md-button></a>
	<a ui-sref="calender"><md-button class=" btn-tile btn-tile fg-white bg-color md-raised" >
		Calender
        </md-button></a>
	<a href="#parties"><md-button class="btn-tile fg-white bg-color md-raised" >
		Parties
        </md-button></a>
	<a href="#event"><md-button class="btn-tile fg-white bg-color md-raised" >
		Event
        </md-button></a>
	<a href="#order"><md-button class="btn-tile fg-white bg-color md-raised" >
		Order
        </md-button></a>
	<a href="#createOrder"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Order
        </md-button></a>
	<a href="#returns"><md-button class="btn-tile fg-white bg-color md-raised" >
		Returns
        </md-button></a>
	<a href="#createReturn"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Return
        </md-button></a>
	<a href="#quotes"><md-button class="btn-tile fg-white bg-color md-raised" >
		Quotes
        </md-button></a>
	<a href="#createQuote"><md-button class="btn-tile fg-white bg-color md-raised" >
		Create Quote
        </md-button></a>
	<a href="#importParty"><md-button class="btn-tile fg-white bg-color md-raised" >
		Import Party
        </md-button></a>
	<a href="#exportPartyProfile"><md-button class="btn-tile fg-white bg-color md-raised" >
		Export Party Profile
	</md-button></a>
	</section>