<md-input-container class="md-icon-float" >
	<input ng-model="searchCustomer" placeholder="Search here by Name/Phone/Email/" type="text" ng-required="true">
</md-input-container>
<table id="table" class="md-table">
	<thead>
		<tr class="md-table-headers-row">
			<th class="md-table-header">Name</th>
			<th>Phone</th>
			<th>Email</th>
		</tr>	
	</thead>
	<tbody ng-controller="customerCtrl as customerCtr">
		<tr ng-repeat="customer in dataReceived | filter:searchCustomer | orderBy:'-partyId'" class="md-table-content-row">
            <td class="md-table-content" style="text-align:left ; padding-left:;"><a ui-sref="viewCustomer">{{customer.firstName}} {{customer.lastName}}</a></td>
			<td class="md-table-content" style="text-align:left ; padding-left:;">{{customer.partyId}}</td>
			<td class="md-table-content"  style="text-align:left ; padding-left:;">{{customer.emailAddress}}</td>
		</tr>
	<tbody>
</table>