<md-content>
    <md-checkbox>
          Apply On Product
    </md-checkbox>
    <li>Condition to fulfill for promotion to apply</li>
    <h5>Cart Amount</h5>
    <div layout="row">
        <div class="input-group">
            <span class="input-group-addon">From &nbsp;$</span>
            <input type="text" placeholder="Zero">
        </div>
        <div flex="20"></div>
        <div class="input-group">
            <span class="input-group-addon">To &nbsp;$</span>
            <input type="text" placeholder="Zero">
        </div>
    </div>
    
    <li>Action to take when promotion is applied</li>
</md-content>