<md-content>
        <md-input-container class="md-icon-float" >
			<label>Name</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="lastname"></md-icon>
			<input ng-model="lastname" type="text" ng-required="true">
		</md-input-container>
		<md-input-container class="md-icon-float">
            <label>Description</label>
			<md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
			<input ng-model="email" type="textarea" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float" >
			<label>Start Date</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="lastname"></md-icon>
			<input ng-model="startdate" type="date" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float" >
			<label>End Date</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="lastname"></md-icon>
			<input ng-model="startdate" type="date" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float" >
			<label>Promotion Codes</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="lastname"></md-icon>
			<input ng-model="startdate" type="text" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float" >
			<label>Use Limit Per Code</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="lastname"></md-icon>
			<input ng-model="startdate" type="text" ng-required="true">
		</md-input-container>
        <div layout="row">
            <div flex></div>
            <md-button class="md-raised md-primary" type="submit">Next</md-button>
        </div>
  </md-content>