.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}
.md-toolbar-tools{
	background-color:#004D40 !important;
}
md-sidenav{
	width:15% !important;
	min-width:200px !important;
    max-width: 25% !important;
}
md-sidenav .bg-green:hover{
	background-color:#00796B !important;
	color:#FFF;
}
md-sidenav .md-button{
	text-align:left !important;
	width:100% !important;
}
md-sidenav md-button{
	align: left !important;
}
.md-sidenav-left{
	background-color:#DDD !important;
}
a{
	text-decoration:none;
	color:inherit;
}

md-content .right-panel .btn-tile{
	width:200px !important;
	height:100px !important;
	white-space: normal;
	transition: all .4s ease;
}

md-content .right-panel .btn-tile:hover{
	transform: scale(1.05,1.05);
	transition: all .4s ease;
	
}
md-content .right-panel .bg-color{
	background-color:#00796B !important;
		transition: all .4s ease;

}
md-content  .right-panel .bg-color:hover{
	background-color:#004D40 !important;
	transition: all .4s ease;
}
table{
    width:100% !important;
}
table tr td{
    text-align: center;
}

.fg-gray{
	color : #F44336;
}
.fg-white{
	color : #FFF !important;
}
.md-icon-float{
	color:red;
}


