.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}
.md-toolbar-tools{
	background-color:#004D40 !important;
}
md-sidenav{
	width:15% !important;
	min-width:200px !important;
    max-width: 25% !important;
}
md-sidenav .bg-green:hover{
	background-color:#00796B !important;
	color:#FFF;
}
md-sidenav .md-button{
	text-align:left !important;
	width:100% !important;
}
md-sidenav md-button{
	align: left !important;
}
.md-sidenav-left{
	background-color:#DDD !important;
}
a{
	text-decoration:none;
	color:inherit;
}

md-content .right-panel .btn-tile{
	width:200px !important;
	height:100px !important;
	white-space: normal;
	transition: all .4s ease;
}

md-content .right-panel .btn-tile:hover{
	transform: scale(1.05,1.05);
	transition: all .4s ease;
	
}
md-content .right-panel .bg-color{
	background-color:#00796B !important;
		transition: all .4s ease;

}
md-content  .right-panel .bg-color:hover{
	background-color:#004D40 !important;
	transition: all .4s ease;
}
table{
    width:100% !important;
}
table tr td{
    text-align: center;
}

.fg-gray{
	color : #F44336;
}
.fg-white{
	color : #FFF !important;
}
.md-icon-float{
	color:red;
}

.search input{
    width: 200%;
    border: none;
    border-radius: 2px; 
    padding: 6px 12px;
    color: #00796B;
    background-color: rgba(0,121,107,.6);
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: all .3s ease;
}
.search input:hover, .search input:focus{
    background-color: #FFF;
    transition: all .3s ease;
     
}
.search input::-webkit-input-placeholder{
    opacity: .5;
    font-family: 'FontAwesome';
    font-size: 20px;
}