    /*Start Header css*/
    /*Start Logo*/
    
    .logo {
        height: 100%;
        padding-top: 20px;
    }
    /*End Logo*/
    /*Start Search Box*/
    
    .search input {
        width: 200%;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 2px;
        padding: 6px 12px;
        color: #00796B;
        background-color: rgba(0, 77, 64, .6);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: all .3s ease;
    }
    .search input:hover,
    .search input:focus {
        background-color: #EEE;
        transition: all .3s ease;
    }
    .search input::-webkit-input-placeholder {
        opacity: .8;
        font-family: 'FontAwesome';
        font-size: 20px;
        color: #FFF;
    }
    .search input:hover::-webkit-input-placeholder,
    .search input:focus::-webkit-input-placeholder {
        color: #999;
    }
    /*End Search Box*/
    
    .md-toolbar-tools h1 {
        font-size: inherit;
        font-weight: inherit;
        margin: inherit;
    }
    .md-toolbar-tools {
        background-color: #004D40 !important;
    }
    /*End Header css*/
    /*Start SideNav css*/
    
    .sidenav-custom {
        ;
        width: 225px;
        max-width: 25%;
        overflow-x: hidden;
    }
    .sidenav-custom .bg-green:hover {
        background-color: #00796B !important;
        color: #FFF;
    }
    .sidenav-custom .md-button {
        text-align: left;
        height: 40px;
        width: 100%;
    }
    .sidenav-custom md-button {
        align: left;
    }
    .sidenav-custom i {
        padding-top: 5px;
    }
    .sidenav-custom {
        background-color: #DDD;
    }
    /*End SideNav css*/
    /*Start MainContent css*/
    
    md-content .right-panel .btn-tile {
        width: 200px !important;
        height: 100px !important;
        white-space: normal;
        transition: all .4s ease;
    }
    md-content .right-panel .btn-tile:hover {
        transform: scale(1.05, 1.05);
        transition: all .4s ease;
    }
    md-content .right-panel .bg-color {
        background-color: #00796B !important;
        transition: all .4s ease;
    }
    md-content .right-panel .bg-color:hover {
        background-color: #004D40 !important;
        transition: all .4s ease;
    }
    form md-content div p {
        margin-top:0px;
        color:red;
    }
    /*End MainContent css*/
    
    md-content div div .nostyle {
        list-style: none;
        padding-top: 10px;
    }
    /*Start Various Foreground and Background color css*/
    
    .fg-gray {
        color: #F44336;
    }
    .fg-white {
        color: #FFF !important;
    }
    .fc-aqua {
        color: aqua;
    }
    .fc-white {
        color: white;
    }
    .fc-blue {
        color: blue;
    }
    /*End Various Foreground and Background color css*/
    /*Start HTML TAG modification*/
    
    a {
        text-decoration: none;
        color: inherit;
    }
    /*End HTML TAG modification*/
    
    table {
        width: 100% !important;
    }
    table tr td {
        text-align: center;
    }
    .container table {
        margin: 0 auto;
        width: 70%;
    }
    .container thead {
        background-color: #004C3F;
        color: #FFF;
    }
    .container th {
        padding: .5em 0 .5em 1em;
    }
    .container tr:nth-of-type(even) {
        background: #EEE;
    }
    .container td {
        text-align: left;
        padding: .5em 0 .5em 1em;
    }
    .container .td-phone {
        width: 25%;
    }
    .container .td-email {
        width: 35%;
    }
    .md-icon-float {
        color: red;
    }
    .profile-page .md-toolbar-tools {
        height: 40px !important;
        font-size: 16px;
        font-weight: 500;
        padding: 0 8px;
    }
    md-toolbar-custom {
        background-color: ;
        color: #FFF;
    }
    .button-font-size-12 {
        font-size: 12px;
    }
    /*-----------------------------------------------
START
Name:Harsh Jain 
Page:Promotion-Page
------------------------------------------------
*/
    
    .asterisk {
        color: #F00;
    }
    /*-----------------------------------------------
START
Name: Himanshu Baranwal 
Page:Profile-Page
------------------------------------------------
*/
    /*Vertical Offsets*/
    /* Vertical Top Offset */
    
    .vert-offset-top-25 {
        margin-top: 25em;
    }
    .vert-offset-top-12 {
        margin-top: 12em;
    }
    .vert-offset-top-11 {
        margin-top: 11em;
    }
    .vert-offset-top-10 {
        margin-top: 10em;
    }
    .vert-offset-top-9 {
        margin-top: 9em;
    }
    .vert-offset-top-8 {
        margin-top: 8em;
    }
    .vert-offset-top-7 {
        margin-top: 7em;
    }
    .vert-offset-top-6 {
        margin-top: 6em;
    }
    .vert-offset-top-5 {
        margin-top: 5em;
    }
    .vert-offset-top-4 {
        margin-top: 4em;
    }
    .vert-offset-top-3 {
        margin-top: 3em;
    }
    .vert-offset-top-2 {
        margin-top: 2em;
    }
    .vert-offset-top-1 {
        margin-top: 1em;
    }
    .vert-offset-top-0 {
        margin-top: 0em;
    }
    /* Vertical Offset Bottom */
    
    .vert-offset-bottom-12 {
        margin-bottom: 12em;
    }
    .vert-offset-bottom-11 {
        margin-bottom: 11em;
    }
    .vert-offset-bottom-10 {
        margin-bottom: 10em;
    }
    .vert-offset-bottom-9 {
        margin-bottom: 9em;
    }
    .vert-offset-bottom-8 {
        margin-bottom: 8em;
    }
    .vert-offset-bottom-7 {
        margin-bottom: 7em;
    }
    .vert-offset-bottom-6 {
        margin-bottom: 6em;
    }
    .vert-offset-bottom-5 {
        margin-bottom: 5em;
    }
    .vert-offset-bottom-4 {
        margin-bottom: 4em;
    }
    .vert-offset-bottom-3 {
        margin-bottom: 3em;
    }
    .vert-offset-bottom-2 {
        margin-bottom: 2em;
    }
    .vert-offset-bottom-1 {
        margin-bottom: 1em !important;
    }
    .vert-offset-bottom-0 {
        margin-bottom: 0em;
    }
