<link rel="stylesheet" href="css/InnerStyleSheet.css">
<md-input-container class="md-icon-float" >
	<input ng-model="searchCustomer" placeholder="Search here by Name/Phone/Email/" type="text" ng-required="true">
</md-input-container>
<div class="container">
<table id="table" class="md-table">
	<thead>
		<tr class="md-table-headers-row">
			<th class="md-table-header">Name</th>
			<th>Phone</th>
			<th>Store Count</th>
		</tr>	
	</thead>
	<tbody ng-controller="customerCtrl as customerCtr">
		<tr ng-repeat="customer in dataReceived | filter:searchCustomer | orderBy:'-partyId'" class="md-table-content-row">
			<td class="md-table-content">{{customer.firstName}} {{customer.lastName}}</td>
			<td class="md-table-content">{{customer.partyId}}</td>
			<td class="md-table-content" >{{customer.lastName}}</td>
		</tr>
	<tbody>
</table>
</div>