<md-content layout-padding class="autoScroll">
		<md-input-container class="md-icon-float" >
			<!-- Use floating label instead of placeholder -->
			<label>First Name</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="firstname"></md-icon>
			<input ng-model="firstname" type="text" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float" >
			<!-- Use floating label instead of placeholder -->
			<label>Last Name</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="firstname"></md-icon>
			<input ng-model="firstname" type="text" ng-required="true">
		</md-input-container>
        <md-input-container class="md-icon-float" >
			<!-- Use floating label instead of placeholder -->
			<label>Title</label>
			<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="firstname"></md-icon>
			<input ng-model="firstname" type="text" ng-required="true">
		</md-input-container>
</md-content>